
.blog{
    color: white;
    font-size: 30px;
    margin-top: 25px;
    -webkit-app-region: no-drag;
}

.message {
    color: white;
    font-size: 30px;
    margin-top: 25px;
    -webkit-app-region: no-drag;
}

.collection {
    color: white;
    font-size: 30px;
    margin-top: 25px;
    -webkit-app-region: no-drag;
}

.active {
    color: #1890ff;;
    font-size: 30px;
    margin-top: 25px;
}