.appMeunBarDiv{
    width: 100%;
    height: 30px;
    background-color: #f1f0f0;
    -webkit-app-region: drag;
    display: flex;
    justify-content: flex-end;
}

.meunTopIcon{
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    -webkit-app-region: no-drag;
}

.meunTopIcon:hover{
    background-color: #f1f0f0;
}

.alwayOnTopaActive{
    color:#60da06;
    background-color: #f1f0f0;
}