.headImageDiv{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    background-color: black;
    -webkit-app-region: no-drag;
}

.headImg{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.popDiv{
    width: 280px;
    height: 180px;
}

/* 悬浮框（anti框架的） */
.ant-popover-inner-content{
    background-color: white;
}

.ant-popover{
    left: 47.5px!important;
}

.upPopDiv{
    display: flex;
    flex-direction: row;

}

.downPopDiv{
    display: flex;

}

.userInfoDiv{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    flex: 3;
}

.userImgDiv{
    display: flex;
    flex: 1;
}

.userInfoImg{
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.userName{
    color: black;
    font-size: 15px;
    font-weight: bold;
}
