@import '~antd/dist/antd.css';
@import '_layout.css';
@import '_appBar.css';
@import './blogStyle/_blogContent.css';
@import '_headInfo.css';
@import './blogStyle/_blogSortList.css';
@import '_appMeunBar.css';
@import './blogStyle/_blogList.css';
@import './blogStyle/blogItem/index.css';
@import './blogStyle/_blogDetail.css';
.App {
  height: 100%;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
