.blogListDiv{
    width: 100%;
    height: 96%;
    margin-top: 5px;
}

.search{
    width: 89%;
    margin-left:10px;
    margin-right: 10px;
}

.sortListUi{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    cursor: pointer;
}

.sortListItemLi{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 12px;
    font-size: 15px;
    border-bottom: 1px solid #f1f0f0;
}

.sortListItmeActive{
    background-color: #f1f0f0;;
    color:#1890ff;
}