.blogDetail{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.topBar{
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color:#1890ff;
    font-size: 18px;
    background-color: #f0f0f0;
}


.detailTitle{
    position: absolute;
    left: 50%;
}

.detailContent{
    width: 100%;
    height: 100%;
    background-color:white;
    overflow-y: scroll;
}