
.timeOrLocation{
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    padding-left: 55px;
    font-size: 12px;
    color: #b5b5b5;
}

.location{
    margin-left: 15px;
}

.bottomTime{

}

.bottomEye{
    margin-left: 15px;
}

.bottomOpr{
    margin-top: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 40px;
    display: flex;
    flex-direction:row;
    border-top: 1px solid rgb(247, 247, 247);
    border-bottom: 1px solid rgb(247, 247, 247);
}

.aDiv{
    color: #808080;
}

.collectDiv{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(194, 194, 194);
}

.collectDiv :hover{
    color:#1890ff;
}

.forwardDiv{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(194, 194, 194);
}

.forwardDiv :hover{
    color:#1890ff;
}

.commentDiv{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(194, 194, 194);
}

.commentDiv :hover{
    color:#1890ff;
}

.thumpDiv{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
}

.thumpDiv :hover{
    color:#1890ff;
}

.aactive{
    color:#1890ff;
}