
.blogHeader{
    height: 50px;
    width: 100%;
    background-color: #fff;
    display: flex;
    position: relative;
}

.headerContent{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.headImgDiv{
    padding-left: 10px;
    padding-right: 10px;
}

.headName{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border-radius: 100%;
    background-color: #7bc5ff;
}

.headImg{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.name{
    font-weight: bold;
    font-size: 16px;
}

.stateTag{
    margin-left: 5px;
    font-size: 12px;
    padding: 0.05rem 0.25rem;
    border-radius: 25%;
    color: white;
    text-align: center;
    background: #5077AA;
    opacity: 0.27;
}

.typeTag{
    position: absolute;
    border: 2px solid #e4effd;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    padding: 1.5px 8px;
    top: 0rem;
    right: 5rem;
    box-shadow: 4px 0 10px rgba(0,0,0,.1);
    letter-spacing: 1px;
    border-top: 0;
}

.headDropdown{
    position: absolute;
    color: #333;
    top: 0rem;
    right: 1rem;
}

.dropIcon{
    color: #333;
    font-size: 20px;
}